
.add-property-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h1{
    font-size: 2.2rem;
    padding: 36px;
  }
  form{
    position: relative;
    text-align: right;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 50px;
    label{
      font-size: 1.5rem;
      font-family: $light;
      margin: 8px 0;
    }
    input{
      font-size: 1.5rem;
      margin-left: 12px;
    }
    button{
      background-color: $red;
      border: none;
      color: white;
      padding: 8px;
      font-size: 1.1rem;
      width: fit-content;
      position: absolute;
      right: 0;
      bottom: -50px;
    }

    // svg{
    //   justify-self: flex-end;

    // }
  }
}