@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.form {
  display: grid;
  flex-direction: column;
	grid-gap: 6rem;
	width: 30%;
	margin: auto;
  background-color: white;
    
}

.form-container {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  
  h1 {
		font-size: 2.5rem;
		font-family: 'Varela Round', sans-serif;
		text-align: center;
	}
}

body {
	padding: 2rem;
	width: 100%;
	height: 100vh;
}

.field-container {
	display: grid;
	grid-gap: 1rem;
}

p {
	color: red;
}