//import individual component styles from ./components
@import './fonts.scss';
@import './components/register.scss';
@import './components/userDashboard.scss';


* {
    
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Airbnb Cereal App Medium' ;
}
