* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
	font-family: 'Permanent Marker', cursive;
	font-size: 2.5rem;
}

form {
    display: grid;

    flex-direction: column;
	grid-gap: 6rem;
	width: 30%;
	margin: auto;
    background-color: white;
    
}

form *{
    margin: 5rem;
}

.form-container {
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {

	width: 100%;
	height: 100vh;
}
