* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

p {
	color: red;
}


/* h1 {
	font-size: 2.5rem;
	font-family: 'Varela Round', sans-serif;
} */

form {
	display: grid;

	flex-direction: column;
	width: 25rem;
	margin: auto;
	background-color: white;
}

.form-container {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body {
	width: 100%;
}

.field-container {
	display: grid;
	grid-gap: 1rem;
}

h1 {
	text-align: center;
}
