.multiform-container {
    display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr;
}

.center-middle {
	display: flex;
	align-items: center;
	width: 100%;
	height: 90vh;
}

.select{
	width: 100%;
}

#demo-simple-select-label{
	width: 100%;
}

.direction-buttons{
	display: flex;
	justify-content: space-evenly;
}

.step-tracker{
	display: flex;
	justify-content: space-evenly;
}